html,
body {
    height: 100%;
}

body {
    background-color: #bbdfc7;
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.banner nav {
    display: flex;
    margin: 10px;
}

.banner nav a {
    width: 100px;
    text-decoration: none;
    margin: 20px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    position: relative;
    opacity: 0;
    animation: fadeNav .5s linear forwards;
}

.banner nav a::after {
    content: '';
    position: absolute;
    left: 100%;
    right: 100%;
    height: 0;
    bottom: -.5em;
    border-bottom: 1px solid white;
    transition: .3s;
}

.banner nav a:hover::after {
    left: 0;
    right: 0;
}

.banner nav a:nth-child(1) {
    animation-delay: .5s;
}

.banner nav a:nth-child(2) {
    animation-delay: 1s;
}

.banner nav a:nth-child(3) {
    animation-delay: 1.5s;
}

.banner nav a:nth-child(4) {
    animation-delay: 2s;
}

.banner nav a:nth-child(5) {
    animation-delay: 2.5s;
}

@keyframes fadeNav {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

article {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#line-bar {
    position: absolute;
    top: -100%;
    left: -100%;
    z-index: -1;
}

label {
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
}

article .text {
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translateY(-40%);
    width: 700px;
    color: white;
    padding: 20px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.text h2,
.text h3,
.text p {
    animation: fadeText 1s ease-in-out forwards;
}

.text h2 {
    font-size: 5em;
    margin: 20px 30px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    animation-delay: .5s;
}

.text h3 {
    font-size: 3em;
    margin: 10px 30px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    animation-delay: 1s;
}

.text p {
    font-size: 1.2em;
    margin: 0 30px;
    font-weight: 300;
    line-height: 1.5em;
    opacity: 0;
    animation-delay: 1.5s;
}

@keyframes fadeText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text a {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px 60px;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    opacity: 0;
    animation: fadeA .5s linear forwards;
    animation-delay: 2s;
    transition: .3s;
}

.text a:hover {
    color: black;
    background-color: white;
    border-radius: 10px;
}

@keyframes fadeA {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

article img {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: -1;
    width: 700px;
    height: 500px;
    padding: 20px;
    opacity: 0;
    animation: fadeImg 1s ease-in-out forwards;
    animation-delay: 2.5s;
}

@keyframes fadeImg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    article img {
        left: 60%;
        width: 600px;
        height: 400px;
    }
}

@media (max-width: 1050px) {
    article {
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transform: translateY(-10%);
    }
    article .text {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .text h2 {
        font-size: 4em;
        margin: 20px 20px 0;
        ;
    }
    .text h3 {
        margin: 10px 20px;
        font-size: 2.5em;
    }
    .text p {
        font-size: 1.2em;
        margin: 15px 20px;
    }
    .text a {
        margin: 10px 60px;
        ;
    }
    article img {
        left: 50%;
        width: 400px;
        height: 200px;
        top: 65%;
    }
}

@media (max-width: 900px) {
    .banner {
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        position: relative;
    }
    .banner nav {
        flex-direction: column;
        margin: 10px;
    }
    article {
        width: 700px;
        height: 100%;
        top: 0;
        left: 20%;
    }
    label {
        position: relative;
        left: 93%;
        bottom: 36%;
        top: auto;
        opacity: 1;
        width: 50px;
        height: 5px;
        background-color: white;
        box-shadow: 0 -10px white, 0 10px white;
        cursor: pointer;
    }
    label span {
        display: none;
    }
    /* #line-bar:checked~.banner {
    }
    #line-bar:checked article {} */
    article .text {
        position: relative;
        top: 25%;
        left: 0;
    }
    .text h2 {
        margin: 20px 15px 0;
    }
    .text h3 {
        margin: 10px 15px;
    }
    .text p {
        margin: 15px 15px;
    }
    article img {
        left: 50%;
        width: 400px;
        height: 200px;
        top: 65%;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    /* body {
        display: flex;
    }
    .banner {
        height: 100px;
        position: fixed;
        left: 15%;
    }
    .banner nav {
        justify-content: center;
        padding: 10px;
    }
    .banner nav a {
        font-size: 2em;
    }
    article .text {
        bottom: 50%;
        left: 20%;
        transform: translateX(10%);
    }
    .text p {
        font-size: 2em;
    }
    article img {
        top: 0;
    } */
}